<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/jquery-1.8.2.js"></script>
    <style>
        #div1{
            width: 50%;
            height: 500px;
            background-color: antiquewhite;
        }
        #div2{
            width: 80%;
            height: 400px;
            background-color: white;
        }
        #content{
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<center>
    <div id="div1">
        <form id="frm">
            <input type="hidden" name="uId" th:value="${article.uId}" id="uId" >
            <input type="hidden" name="score" th:value="${score}" id="score" >
            <input type="hidden" name="createtime" th:value="${#dates.format(article.createtime,'yyyy-MM-dd HH:mm:ss')}" id="createtime" >
            <input type="hidden" name="articleId" th:value="${article.articleId}" id="articleId">
            标题：<input type="text" id="title" name="title" th:value="${article.title}">
            <br/>
            <center>
                <div id="div2">
                    <textarea type="text" id="content" name="content" th:text="${article.content}"></textarea>
                </div>
                <br/>
                <input id="btn1" type="button" value="保存修改">&nbsp;&nbsp;&nbsp;&nbsp;<input id="btn2" type="button" value="删除" th:onclick="'javascript:deleteInfor('+${article.articleId}+')'">&nbsp<a th:href="@{/myArticle/getMyArticle(uId=${article.uId})}">退出</a>
            </center>
        </form>
    </div>
</center>
<script type="text/javascript">
    $("#btn1").click(function () {
        var score=$("#score").val();
        var confirm_=confirm('确认修改？');
        if(confirm_){
            var title=$("#title").val();
            var content=$("#content").val();
            var uId=$("#uId").val();
            if(title==null||title==""){
                alert("标题不可为空");
            }else if(content==null||content==""){
                alert("内容不可为空");
            }else{
                $.ajax({
                    type:"post",
                    url:"/demo/myArticle/editArticle",
                    data: $("#frm").serialize(),
                    success:function (msg) {
                        if(msg=="success"){
                            alert("修改成功");
                            window.location.href="/demo/myArticle/getMyArticle?uId="+uId+"&page="+1;
                        }else {
                            alert("修改失败");
                        }
                    }
                })

            }
        }

    })
    //删除
    function deleteInfor(id) {
        var score=$("#score").val();
        var confirm_=confirm('确认删除？');
        var uId=$("#uId").val();
        if(confirm_){
            $.ajax({
                type:"post",
                url:"/demo/myArticle/deleteArticle",
                data:"articleId="+id,
                success:function (msg) {
                    if(msg=="success"){
                        alert("删除成功")
                        window.location.href="/demo/myArticle/userMain?uId="+uId+"&score="+score;
                    }else{
                        alert("删除失败");
                    }
                }
            })
        }
    }

</script>
</body>
</html>