<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/jquery-1.8.2.js"></script>
    <style>
        #div1{
            width: 50%;
            height: 100%;
            background-color: antiquewhite;
        }
        .div2{
            width: 100%;
            height: 90px;

        }
        #divTitle{
            width: 100%;
            height: 60%;

        }
        #divContent{
            width: 100%;
            height: 40%;

        }
        #divLeft{
            width: 50%;
            height: 100%;
            float: left;

            text-align: left;
        }
        #divRight{
            width: 50%;
            height: 100%;
            float: left;
            text-align: right;

        }

    </style>

</head>
<body>
<hr/>
<br/>
<a th:href="@{/myUser/getFirstPage(uId=${uId})}">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a th:href="@{/myArticle/getMyArticle(uId=${uId})}">我的页面</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a th:if="${uId==1}">
    <a th:href="@{/myPower/powerManager(uId=${uId})}">权限管理</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a th:href="@{/myRole/roleManager(uId=${uId})}">角色管理</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a th:href="@{/myUser/userManager(uId=${uId})}">用户管理</a>
</a>
<hr/>
<center>
    <input hidden th:value="${uId}" id="uId">
    <div id="div1">
        <a th:if="${#lists.isEmpty(articleList)}">
            <p>###你还没有发表任何文章哦！！快去发表吧！！</p>
            <br/>
            <a th:href="@{/myArticle/preAddArticle(uId=${uId})}">去发表文章</a>
        </a>
        <a th:if="${not#lists.isEmpty(articleList)}">
            <a th:href="@{/myArticle/preAddArticle(uId=${uId})}">去发表文章</a>
            <div th:each="articleCustom,iterStat : ${articleList}">
                <div th:id="'div_'+${articleCustom.articleId}" class="div2">
                    <div id="divTitle">
                        <hr/>
                        <a th:href="@{/myArticle/articleDetails(articleId=${articleCustom.articleId},uId=${uId})}"><span style="float: left;font-size: larger;font-weight: bolder"  th:text="${articleCustom.title}"/></a>
                        <span style="float: left" th:text="'(作者：'+${articleCustom.user.name}+')'"/>
                        <span style="float: right" th:text="'评论数量：'+${articleCustom.commentCount}"/>
                        <br/>
                    </div>
                    <div id="divContent">
                        <div id="divLeft">
                            <span th:text="${#dates.format(articleCustom.createtime, 'yyyy-MM-dd')}">4564546</span>
                        </div>
                        <div id="divRight">
                            <a th:href="@{/myArticle/preEditArticle(articleId=${articleCustom.articleId})}"><input type="button" value="编辑"></a>&nbsp;<input id="delete" th:onclick="'javascript:deleteArticle('+${articleCustom.articleId}+')'" type="button" value="删除" >
                        </div>
                        <hr/>
                    </div>
                </div>
            </div>
            <a th:href="@{/myArticle/queryArticleListByUid(uId=${uId},page=1)}">首页</a>&nbsp;<a th:href="@{/myArticle/queryArticleListByUid(uId=${uId},page=${page-1})}">上一页</a>&nbsp;<a th:href="@{/myArticle/queryArticleListByUid(uId=${uId},page=${page+1})}">下一页</a>&nbsp;<a th:href="@{/myArticle/queryArticleListByUid(uId=${uId},page=${pageCount})}">末页</a><br/>

        </a>

    </div>
</center>
<script type="text/javascript">
    function deleteArticle(articleId) {
        var confirm_=confirm('确认删除？');
        if(confirm_){
            $.ajax({
                type:"post",
                url:"/demo/myArticle/deleteArticle",
                data:"articleId="+articleId,
                success:function (msg) {
                    if(msg=="success"){
                        $("#div_"+inforId).remove();
                        alert("删除成功")
                    }else{
                        alert("删除失败");
                    }
                }
            })
        }

    }

    //修改密码
    function updatePassword() {
        var uId=$("#uId").val();
        var password=window.prompt("请输入新的密码","");
        var rePassword=window.prompt("请再次输入你的密码","");
        if(password==""||rePassword==""){
            alert("密码不能为空");
        } if(password.length<4){
            alert("密码不能小于四位数");
        }else if(password!=rePassword){
            alert("两次密码需要一致");
        }else if(password!=null&&rePassword!=null){
            var confirm_ = confirm('确认修改密码？');
            if(confirm_){
                $.ajax({
                    ContentType:"application/json;charset=UTF-8",
                    type:"post",
                    url:"/demo/myUser/updatePassword",
                    data:{"password":password,"rePassword":rePassword,"uId":uId},
                    success:function (msg) {
                        if(msg=="success"){
                            alert("密码更改成功,请重新登录")
                            window.location.href="/demo/myUser/getLogin";
                        }else {
                            alert("更改失败");
                        }
                    }
                })
            }
        }
    }
</script>
</body>

</body>
</html>