<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.PasswordRecordDao">
    <resultMap id="passwordRecordMap" type="passwordRecord">
        <id property="pId" column="p_id"/>
        <result property="status" column="status"></result>
        <result property="uPhone" column="u_phone"></result>
        <result property="pCreatetime" column="p_createtime"></result>
        <result property="validateNumber" column="validate_number"></result>
    </resultMap>
    <insert id="addRecord" parameterType="passwordRecord">
        insert into password_record(u_phone,status,p_createtime,validate_number)values (#{uPhone},#{status},#{pCreatetime},#{validateNumber})
    </insert>
    <update id="updateRecord" parameterType="passwordRecord">
         update password_record set u_phone=#{uPhone},status=#{status},validate_number=#{validateNumber} where p_id=#{pId}
    </update>
    <select id="queryRecordByPhone" parameterType="String" resultMap="passwordRecordMap">
        select password_record.* from password_record where u_phone=#{uPhone}
    </select>
    <select id="queryRecordById" parameterType="Integer" resultMap="passwordRecordMap">
        select password_record.* from password_record where p_id=#{pId}
    </select>
    <delete id="deleteRecord" parameterType="Integer">
        delete from password_record where p_id=#{pId}
    </delete>
</mapper>